<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="machine">
            <h2><span jhiTranslate="vcApplicationApp.machine.detail.title">Machine</span> {{ machine.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="vcApplicationApp.machine.name">Name</span></dt>
                <dd>
                    <span>{{ machine.name }}</span>
                </dd>
                <dt><span jhiTranslate="vcApplicationApp.machine.description">Description</span></dt>
                <dd>
                    <span>{{ machine.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/machine', machine.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
